<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rz.iot.bpo.mapper.BpoProductPriceMapper" >
  <resultMap id="BaseResultMap" type="com.rz.iot.bpo.model.BpoProductPrice" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_type" property="productType" jdbcType="TINYINT" />
    <result column="fee_rule_id" property="feeRuleId" jdbcType="INTEGER" />
    <result column="process_id" property="processId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="upper_limit" property="upperLimit" jdbcType="INTEGER" />
    <result column="lower_limit" property="lowerLimit" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, product_type, fee_rule_id, process_id, product_id, upper_limit, lower_limit, 
    price, type, status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bpo_product_price
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectByProductId" resultType="com.rz.iot.bpo.model.BpoProductPrice">
      select <include refid="Base_Column_List"/> from bpo_product_price where product_id = #{productId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bpo_product_price
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rz.iot.bpo.model.BpoProductPrice" >
    insert into bpo_product_price (id, product_type, fee_rule_id, 
      process_id, product_id, upper_limit, 
      lower_limit, price, type, 
      status, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{productType,jdbcType=TINYINT}, #{feeRuleId,jdbcType=INTEGER}, 
      #{processId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{upperLimit,jdbcType=INTEGER}, 
      #{lowerLimit,jdbcType=INTEGER}, #{price,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rz.iot.bpo.model.BpoProductPrice" >
    insert into bpo_product_price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productType != null" >
        product_type,
      </if>
      <if test="feeRuleId != null" >
        fee_rule_id,
      </if>
      <if test="processId != null" >
        process_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="upperLimit != null" >
        upper_limit,
      </if>
      <if test="lowerLimit != null" >
        lower_limit,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productType != null" >
        #{productType,jdbcType=TINYINT},
      </if>
      <if test="feeRuleId != null" >
        #{feeRuleId,jdbcType=INTEGER},
      </if>
      <if test="processId != null" >
        #{processId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="upperLimit != null" >
        #{upperLimit,jdbcType=INTEGER},
      </if>
      <if test="lowerLimit != null" >
        #{lowerLimit,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rz.iot.bpo.model.BpoProductPrice" >
    update bpo_product_price
    <set >
      <if test="productType != null" >
        product_type = #{productType,jdbcType=TINYINT},
      </if>
      <if test="feeRuleId != null" >
        fee_rule_id = #{feeRuleId,jdbcType=INTEGER},
      </if>
      <if test="processId != null" >
        process_id = #{processId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="upperLimit != null" >
        upper_limit = #{upperLimit,jdbcType=INTEGER},
      </if>
      <if test="lowerLimit != null" >
        lower_limit = #{lowerLimit,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rz.iot.bpo.model.BpoProductPrice" >
    update bpo_product_price
    set product_type = #{productType,jdbcType=TINYINT},
      fee_rule_id = #{feeRuleId,jdbcType=INTEGER},
      process_id = #{processId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      upper_limit = #{upperLimit,jdbcType=INTEGER},
      lower_limit = #{lowerLimit,jdbcType=INTEGER},
      price = #{price,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>